.not-found {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f8f9fa;
  text-align: center;
}

.not-found h1 {
  font-size: 5rem;
  color: #002147;
  margin-bottom: 10px;
}

.not-found p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;
}

.home-btn {
  padding: 10px 20px;
  background: #002147;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s ease;
}

.home-btn:hover {
  background: #0056b3;
}
